@font-face {
  font-family: "nashe";
  src: url(JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "nashe2";
  src: url(GreatVibes-Regular-webfont.ttf);
}
button {
  font-family: "nashe", JosefinSans;
  font-size: 14px;
}

h1 {
  font-family: "nashe", JosefinSans;
  font-weight: bolder;
}

h2 {
  font-family: "nashe", JosefinSans;
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-family: "nashe", JosefinSans;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-family: "nashe", JosefinSans;
  font-size: 18px;
}

h5 {
  font-family: "nashe", JosefinSans;
  font-size: 18px;
}

h6 {
  font-family: "nashe", JosefinSans;
  font-size: 18px;
}

p {
  font-family: "nashe", JosefinSans;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation .logo {
  width: 15%;
  margin-left: 56px;
}
.navigation img {
  margin-top: 20px;
}
.navigation .links {
  margin-top: 26px;
}
.navigation .About {
  text-decoration: none;
  color: #000;
  margin-right: 45px;
  font-size: 18px;
  margin-top: 3px;
  font-family: "nashe", JosefinSans;
}
.navigation .img30 {
  margin-bottom: 21px;
  width: 2%;
}
.navigation .Services {
  position: relative;
  font-family: "nashe", JosefinSans;
  text-decoration: none;
  color: #6a2d8a;
  margin-right: 45px;
  font-size: 18px;
  margin-top: 3px;
}
.navigation .Testimonials {
  color: #000;
  margin-right: 250px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 3px;
  font-family: "nashe", JosefinSans;
}
.navigation .img18 {
  right: 180px;
  width: 2%;
  margin-bottom: 13px;
  margin-top: 3px;
  position: absolute;
  border-radius: 50%;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner .outstanding {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .outstanding h1 {
  font-size: 45px;
}
.banner .outstanding p {
  font-size: 18px;
  margin-bottom: 6px;
}
.banner .outstanding .watch {
  display: flex;
  align-items: center;
  margin-left: 3px;
  margin-top: 12px;
}
.banner .outstanding .watch .img41 {
  width: 4%;
  margin-bottom: 6px;
}
.banner .outstanding .watch p {
  color: #6a2d8a;
  margin-left: 5px;
}
.banner .outstanding .Trusted {
  display: flex;
  margin-left: 3px;
}
.banner .outstanding .Trusted .img33 {
  margin-bottom: 6px;
  width: 4%;
}
.banner .outstanding .Trusted p {
  margin-left: 5px;
}
.banner .outstanding .discover {
  margin-right: 10px;
  border: none;
  padding: 7px;
  color: white;
  background-color: #6a2d8a;
  margin-top: 12px;
}
.banner .outstanding .Book {
  margin-right: 10px;
  border-color: #6a2d8a;
  padding: 7px;
  margin-top: 12px;
  border-left: solid 5px #6a2d8a;
  border-right: solid 5px #6a2d8a;
}
.banner .outstanding .buttons {
  display: flex;
}
.banner img {
  width: 24%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner .bride {
  height: 65vh;
  width: 23%;
  margin-right: 10px;
}
.banner .couple {
  height: 65vh;
  width: 23%;
  margin-bottom: 65px;
  margin-right: 10px;
}
.banner .child {
  height: 65vh;
  width: 23%;
  margin-right: 10px;
}
.banner .student {
  height: 65vh;
  width: 23%;
  margin-bottom: 65px;
  margin-right: 10px;
}
.banner .images {
  margin-right: 60px;
}

.us .media {
  margin-top: 54px;
  margin-left: 60px;
}
.us .img31 {
  margin-top: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80vh;
  width: 38%;
  margin-left: -5px;
}
.us .img32 {
  margin-bottom: 113px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80vh;
  width: 38%;
}
.us .dedicated {
  margin-bottom: -114px;
  margin-top: 24px;
}
.us .container {
  display: flex;
}
.us .img9 {
  width: 100%;
}
.us .img21 {
  position: absolute;
  right: 366px;
  bottom: -210px;
  border-radius: 19px;
  width: 4%;
}
.us .process {
  margin-right: 100px;
  margin-top: 30px;
}
.us .process .Find {
  border: none;
  padding: 10px;
  color: white;
  background-color: #6a2d8a;
  margin-top: 20px;
}
.us .process p {
  margin-top: 25px;
}
.us .clients {
  margin-left: 170px;
}

.tig {
  margin-left: 45px;
  padding-bottom: 25px;
}

.serve {
  display: flex;
}
.serve .event {
  position: absolute;
  top: 301%;
  right: 75%;
  color: white;
}
.serve img {
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80vh;
}
.serve .digital {
  line-height: 45px;
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 80vh;
  color: white;
  background-color: #6a2d8a;
}
.serve .digital p {
  margin-left: 35px;
}
.serve .digital span {
  text-decoration: underline;
}
.serve .img29 {
  left: 33%;
  top: 262%;
  width: 2%;
  position: absolute;
}
.serve .img28 {
  left: 88%;
  top: 262%;
  width: 2%;
  position: absolute;
}
.serve .img22 {
  left: 62%;
  top: 262%;
  width: 2%;
  position: absolute;
}
.serve .media2 {
  position: absolute;
  top: 301%;
  right: 20%;
  color: white;
}

.h3 {
  margin-top: 80px;
  font-family: "nashe", JosefinSans;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 40px;
}

.fond {
  padding-bottom: 56px;
  display: flex;
  flex-direction: row;
}
.fond img {
  width: 85%;
}
.fond .img10t {
  left: 47%;
  top: 379%;
  width: 3%;
  position: absolute;
}
.fond .img10u {
  right: 14%;
  top: 370%;
  width: 3%;
  position: absolute;
}
.fond .tendai {
  margin-top: 56px;
  margin-left: 85px;
}
.fond h4 {
  margin-top: 15px;
  font-weight: bold;
}
.fond h6 {
  margin-top: 15px;
  font-weight: light;
}
.fond .miranda {
  margin-bottom: 5px;
}

.h4 {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.pictures {
  display: flex;
  justify-content: center;
}
.pictures img {
  width: 10%;
  -o-object-fit: contain;
     object-fit: contain;
  gap: 45px;
}
.pictures .img20 {
  margin-left: 10px;
}
.pictures .img47 {
  margin-left: 10px;
  margin-top: 80px;
}
.pictures .img16 {
  margin-left: 10px;
}
.pictures .img27 {
  margin-left: 10px;
  margin-top: 80px;
}
.pictures .img17 {
  margin-left: 10px;
}
.pictures .img28 {
  margin-left: 10px;
  margin-top: 80px;
}

.tigzozo {
  font-weight: bolder;
  font-family: "nashe", JosefinSans;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.insta {
  font-family: "nashe2", GreatVibes;
  margin-left: 10px;
  font-weight: bold;
}

.zozo {
  font-weight: bold;
}

.tiggy {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tiggy .follow {
  border: none;
  padding: 10px;
  color: white;
  background-color: #6a2d8a;
  margin-top: 12px;
}

.footer {
  padding-top: 30px;
  background-color: #6a2d8a;
  color: white;
  padding-bottom: 30px;
  line-height: 28px;
}
.footer img {
  width: 45%;
}
.footer h5 {
  text-decoration: underline;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 332px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media (min-width: 577px) {
  .hamburger-menu {
    display: none;
  }
}
@media (max-width: 576px) {
  .navigation .links {
    display: none;
  }
  .navigation img {
    width: 145px;
  }
  .banner {
    display: block;
  }
  .banner .couple {
    display: none;
  }
  .banner .child {
    display: none;
  }
  .banner .bride {
    width: 40%;
    height: 50vh;
    margin-right: 42px;
    margin-left: 13px;
  }
  .banner .student {
    width: 40%;
    height: 50vh;
  }
  .banner .outstanding {
    margin-left: 20px;
    padding-top: 56px;
  }
  .banner .outstanding h1 {
    font-size: 25px;
  }
  .us .media {
    margin-left: 16px;
  }
  .us .dedicated {
    margin-top: 30px;
  }
  .us .img31 {
    margin-left: 30px;
    margin-top: -133px;
  }
  .us .img {
    margin-bottom: 60px;
  }
  .us .container {
    display: block;
  }
  .us .p6 {
    position: absolute;
    top: 210%;
  }
  .us .img21 {
    right: 147px;
    bottom: -1073px;
  }
  .us .img9 {
    width: 100%;
  }
  .us .process .Find {
    padding: 7px;
  }
  .serve {
    display: block;
  }
  .serve img {
    width: 100%;
    height: 60vh;
  }
  .serve .digital {
    display: flex;
    width: 75%;
    margin-left: 46px;
    line-height: 33px;
    height: 57vh;
  }
  .serve .img29 {
    left: 78%;
    top: 332%;
    width: 6%;
  }
  .serve .img22 {
    width: 6%;
    left: 78%;
    top: 392%;
  }
  .serve .event {
    top: 361%;
    right: 39%;
  }
  .serve .media2 {
    right: 39%;
    top: 483%;
  }
  .serve .img28 {
    left: 78%;
    top: 455%;
    width: 6%;
  }
  .serve .img15 {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .serve .img10 {
    margin-top: 20px;
  }
  .tig {
    margin-top: 56px;
    margin-left: 16px;
  }
  .fond {
    display: block;
  }
  .fond .img10t {
    left: 88%;
    top: 629%;
    width: 8%;
  }
  .fond .img10u {
    right: 4%;
    top: 548%;
    width: 8%;
  }
  .fond img {
    width: 100%;
  }
  .h4 {
    padding: 0px;
    margin-top: 56px;
  }
  .pictures {
    display: flex;
    display: block;
    justify-content: center;
  }
  .pictures img {
    width: 45%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .pictures .img28 {
    display: none;
  }
  .pictures .img27 {
    display: none;
  }
  .pictures .img17 {
    display: none;
  }
  .pictures .img20 {
    display: none;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation .links {
    margin-top: 42px;
  }
  .navigation .Testimonials {
    margin-right: 100px;
  }
  .navigation .img18 {
    right: 45px;
    margin-top: -8px;
    width: 5%;
  }
  .banner {
    margin-top: -75px;
  }
  .banner .outstanding {
    margin-left: 50px;
  }
  .banner .outstanding h1 {
    font-size: 36px;
  }
  .banner .outstanding p {
    font-size: 14px;
  }
  .banner .bride {
    display: none;
  }
  .banner .child {
    display: none;
  }
  .banner .couple {
    width: 43%;
  }
  .banner .student {
    width: 43%;
  }
  .banner .images {
    margin-left: 100px;
  }
  .us .img31 {
    display: none;
  }
  .us .process {
    margin-top: 13px;
  }
  .us .process .Find {
    padding: 12px;
  }
  .us .dedicated {
    font-size: 16px;
  }
  .us .img21 {
    right: 162px;
    bottom: 54px;
  }
  .us .p6 {
    margin-top: 36px;
    font-size: 16px;
  }
  .us .container {
    display: flex;
  }
  .us .media {
    margin-top: -35px;
    font-size: 32px;
  }
  .us .img32 {
    margin-top: -86px;
    margin-left: 40px;
    width: 70%;
  }
  .us .img9 {
    width: 100%;
  }
  .us .Find {
    margin-bottom: 49px;
    padding: 12px;
  }
  .tig {
    font-size: 32px;
    margin-top: -151px;
  }
  .serve {
    display: block;
  }
  .serve img {
    width: 100%;
  }
  .serve .digital {
    width: 76%;
    margin-left: 85px;
    margin-top: 20px;
    line-height: 62px;
    height: 69vh;
  }
  .serve .event {
    top: 343%;
    right: 47%;
    font-size: 25px;
  }
  .serve .img15 {
    margin-top: 20px;
  }
  .serve .img10 {
    margin-top: 20px;
  }
  .serve .img29 {
    top: 304%;
    left: 79%;
    width: 5%;
  }
  .serve .img28 {
    top: 456%;
    left: 79%;
    width: 5%;
  }
  .serve .img22 {
    top: 374%;
    left: 79%;
    width: 5%;
  }
  .serve .media2 {
    top: 495%;
    right: 41%;
    font-size: 25px;
  }
  .h3 {
    font-size: 25px;
  }
  .fond {
    display: flex;
    padding-bottom: 67px;
  }
  .fond img {
    width: 90%;
  }
  .fond h4 {
    font-size: 20px;
  }
  .fond h6 {
    font-size: 18px;
  }
  .fond p {
    font-size: 16px;
  }
  .fond .miranda {
    margin-top: 72px;
  }
  .h4 {
    font-size: 30px;
  }
  .pictures img {
    width: 19%;
  }
  .pictures .img28 {
    display: none;
  }
  .pictures .img16 {
    display: none;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1024px) {
  .navigation .links {
    margin-top: 37px;
  }
  .banner {
    margin-top: -238px;
  }
  .banner .outstanding {
    margin-left: 53px;
  }
  .banner .images {
    width: 55%;
  }
  .us .process {
    margin-left: -360px;
  }
  .us .img9 {
    width: 100%;
  }
  .us .media {
    margin-top: -166px;
  }
  .us .img31 {
    width: 29%;
    margin-top: -44px;
  }
  .us .img32 {
    width: 29%;
    margin-top: -343px;
  }
  .us .img21 {
    right: 159px;
    bottom: 528px;
  }
  .tig {
    margin-top: -228px;
  }
  .serve {
    margin-top: -270px;
  }
  .serve .event {
    top: 160%;
  }
  .serve .media2 {
    top: 160%;
  }
  .serve .digital {
    margin-top: 291px;
    height: 38vh;
    line-height: 46px;
  }
  .serve .img29 {
    top: 121%;
    width: 4%;
  }
  .serve .img28 {
    left: 92%;
    top: 120%;
    width: 4%;
  }
  .serve .img22 {
    top: 121%;
    width: 4%;
  }
  .h3 {
    margin-top: -173px;
  }
  .fond .img10t {
    left: 34%;
    top: 193%;
  }
  .fond .img10u {
    right: 18%;
    top: 189%;
  }
}/*# sourceMappingURL=index.css.map */